<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Using bootstrap for CSS styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>MALE FLASK WORKSHOP</title>
    <style>
  
      body {
        border: 2px solid #ddd; 
        padding: 40px; 
        margin: 60px; 
      }
    </style>
  </head>
  <body>
    <h1>MALE FLASK WORKSHOP</h1>
    <h5>
		For this workshop we will use flask to create a web page where users can interact with.
	</h5>

    <p>The following is a form that will post a request to our flask backend, which will use the pre-trained R model to predict the species of a plant given a value:</p>

    <form  action="#" method="post">
      <div class="mb-3">
        <label class="form-label">Sepal.Length</label>
        <input type="text" name="sepal_length" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Sepal.Width</label>
        <input type="text" name="sepal_width" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if response == -1 %}
    <div class="alert alert-danger mt-3" role="alert">
        Server response: You must fill all the parameters to make a prediction
    </div>
    {% else %}
    <div class="alert alert-success mt-3" role="alert">
        Server response: {{ response }}
    </div>
    {% endif %}

  </body>
</html>
